@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-container {
    animation: marquee 15s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animation-slideshow {
    animation: fadeInOpacity 200ms linear forwards;
    opacity: 0;
  }

  .fade-in-opacity {
    animation: fadeInOpacity 300ms linear forwards;
    opacity: 0;
  }

  .fade-in-opacity-signature {
    animation: fadeInOpacity 1250ms 300ms ease-in-out forwards;
    opacity: 0;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .errorShake {
    animation: shake 0.4s 1 linear;
  }
  
  @keyframes shake {
    0% { transform: translate(20px); }
    20% { transform: translate(-20px); }
    40% { transform: translate(10px); }
    60% { transform: translate(-10px); }
    80% { transform: translate(5px); }
    100% { transform: translate(0px); }
  }

.about-paragraphs > p > strong {
    @apply font-normal text-[#6D6D6D]
}

/* Utility classes for inputs */
#inputs {
  @apply relative overflow-hidden w-full;
}

#inputs label {
  @apply absolute duration-[200ms] left-0 bottom-3 -z-10 translate-y-[0px]; 
}

#inputs input {
  @apply border-b font-normal border-[#A2A2A2] outline-none text-black z-10 bg-transparent w-full pb-2 pt-4 rounded-none;
}

#inputs .input-underline {
  @apply absolute bottom-0 left-0 w-full h-[1.5px] bg-[#000000] duration-[300ms] z-10 -translate-x-full ease-in;
}

#inputs input:focus ~ .input-underline,
#inputs  input[data-not-empty='true'] ~ .input-underline {
  @apply translate-x-0 ease-out ;
}

#inputs input:focus ~ label,
#inputs input[data-not-empty='true'] ~ label {
  @apply text-black translate-y-[-20px] text-[10px] duration-[300ms]
}

#inputs input[data-not-valid='true'] ~ label {
  @apply text-rose-600
}

#inputs  input[data-not-valid='true'] {
  @apply border-rose-600
}


.transition-not-color {
  transition: all 300ms ease, background-color 0ms ease;
}


#navigation-container[data-white-path='true'] {
  @apply text-white
}

#navigation-container[data-white-path='false'] {
  @apply text-black 
}

#navigation-container[data-white-path='false'][data-is-open='true'] {
  @apply text-white
}

#navigation-container[data-white-path='true'] .hamburger-menu{
  @apply bg-white transition-not-color
}

#navigation-container[data-white-path='false'] .hamburger-menu{
  @apply bg-black transition-not-color
}

#navigation-container[data-white-path='false'][data-is-open='true'] .hamburger-menu{
  @apply bg-white transition-not-color
} 

#navigation-container .underline-navigation {
  @apply bg-white transition-not-color
}

#navigation-container[data-white-path='true'] .underline-navigation {
  @apply bg-white 
}

#navigation-container[data-white-path='false'] .underline-navigation {
  @apply bg-black
}

#navigation-container[data-white-path='false'] .social-icon {
  @apply lg:fill-black
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#footer-container[data-black-path='true'] {
  @apply text-[#9F9F9F] bg-[#070707] 
}

#footer-container[data-black-path='false'] {
  @apply text-black bg-white
}

#footer-container[data-black-path='true'] .social-icon {
  @apply fill-white
}

#footer-container[data-black-path='false'] .social-icon {
  @apply fill-black
}

#footer-container[data-black-path='true'] .signature-property {
  @apply fill-white
}

#footer-container[data-black-path='false'] .signature-property {
  @apply fill-black
}

#scroll-container-logos {
  @apply w-full overflow-scroll p-2 max-w-[1600px] max-lg:cursor-grab
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scroll-container-logos::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scroll-container-logos {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}